# ---- General ----
NODE_ENV=development

# ---- Service Ports ----
AUTH_SERVICE_PORT=9501
GATEWAY_PORT=9502
USER_SERVICE_PORT=9503
CHAT_SERVICE_PORT=9504

# ---- JWT ----
JWT_SECRET=yPOcqsklREvprRK/BnUN1gg6pbiUv7UDvr2kNqpEDK+8=
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=Iv9qnmOmgE62Kcd4yhXVN3/sWCcmNJG9JRRftmEnl3A=
JWT_REFRESH_EXPIRES_IN=30d

# ---- Internal service-to-service auth ----
INTERNAL_API_TOKEN=f2ddc0ab55954ffa9b0c90427f639a99b497911d7db66708036e8ede2abe8461

# ---- RabbitMQ ----
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# ---- Redis ----
REDIS_PORT=6379

# ---- Auth DB (MySQL) ----
AUTH_DB_NAME=blipchat_auth_service
AUTH_DB_USER=blipchat_auth_user
AUTH_DB_PASSWORD=blipchat_auth_password
AUTH_DB_ROOT_PASSWORD=root_password
AUTH_DB_PORT=8207

# ---- Chat DB (MongoDB) ----
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_PORT=27017

# ---- User DB (PostgreSQL) ----
USER_DB_NAME=blipchat_user_service
USER_DB_USER=blipchat_user
USER_DB_PASSWORD=blipchat_password
USER_DB_PORT=8206